---
- name: Install dnf packages
  become: true
  ansible.builtin.dnf:
    name:
      # Window management
      - autorandr
      - awesome
      - lightdm
      - xrandr
      - xscreensaver
      # Terminal
      - kitty
      - numlockx
      - xclip
      - zsh
      # Tools
      - chromium
      - evince
      - gh
      - htop
      - httpie
      - jq
      - keepassxc
      - neovim
      - ripgrep
      - shutter
      - system-config-printer
      - uv
      - vim
      - yp-tools
      - zoxide
      # Misc
      - findutils
      - liquidctl
      - lm_sensors
      - redshift
      - xbacklight
      # General build libs
      - bzip2
      - bzip2-devel
      - gcc
      - gcc-c++
      - ImageMagick
      - libffi-devel
      - openssl-devel
      - readline-devel
      - sqlite
      - sqlite-devel
      - tk-devel
      - xz
      - xz-devel
      - zlib-devel
      # Languages
      - golang
      - luarocks
      - nodejs
      - python3-gpg
      - python3-ipython
      - virtualenv
      - yarnpkg
    state: latest

- name: Ensure LightDM service is enabled and started
  become: true
  ansible.builtin.systemd:
    name: lightdm.service
    enabled: true
    state: started

- name: Ensure GDM service is disabled and stopped
  become: true
  ansible.builtin.systemd:
    name: gdm.service
    enabled: false
    state: stopped

- name: Update all dnf packages to their latest version
  become: true
  ansible.builtin.dnf:
    name: "*"
    state: latest

- name: Install pip packages
  become: true
  ansible.builtin.pip:
    name:
      - ipython
      - pdbpp
    state: latest

- name: Create virtualenv for neovim
  ansible.builtin.pip:
    virtualenv: "{{ ansible_env.HOME }}/.virtualenvs/neovim"
    virtualenv_command: /usr/bin/virtualenv
    name:
      - neovim
      # For molten-nvim
      - pynvim
      - jupyter_client
      - cairosvg
      - plotly
      - kaleido
      - pyperclip
      - pillow
    state: latest
